# Q 1

H0 : mu = 25, H1: mu=! 25
correctly stated hypothesis problem, because in alternate hypothesis, we are rejecting the original hypothesis that mu is not equal to 25.

H0 : sigma >10, H1: sigma =10
correctly stated hypothesis problem, because in alternate hypothesis, we are rejecting the original hypothesis that sigma is not greater than 10, it is exactly 10.

H0 : xbar = 50, H1: xbar=! 50
correctly stated hypothesis problem, because in alternate hypothesis, we are rejecting the original hypothesis that xbar is not equal to 50.

H0 : p = 0.1, H1: p=0.5
correctly stated hypothesis problem, because in alternate hypothesis, we are rejecting the original hypothesis that p is not 0.1 but0.5.

H0 : s = 30, H1: s>30
correctly stated hypothesis problem, because in alternate hypothesis, we are rejecting the original hypothesis that s is not equa; to 30 but it is greater than 30.

# Q 2

given 
mu = 52, sigma = 4.5, n=100, xbar = 52.8
z = (xbar-mu)/sigma/n^0.5
z = (52.8-52)/4.5/(100)^0.5

In [4]:
z = (52.8-52)/(4.5/(100)**(1/2))
z

1.7777777777777715

H0: mu = 52
H1: mu>52
its a one tail test
alpha = 0.05
zc = 1.645
as our value of z lies in critical region we reject the null hypothesis and average cost of textbooks is higher thann claimed by bookstore.

# Q3

given: mu = 34ppm, sigma = 8ppm, alpha = 0.01, n=50, xbar = 32.5,
H0: mu < 34
H1: mu>=34
its a on tail test.
z= 32.5-34/(8/50^0.5)

In [1]:
z= (32.5-34)/(8/50**0.5)
z

-1.3258252147247767

zc = -2.325. as z does not lie in failure region. we failed to reject the null hypothesis and the claim of the company is correct.

# Q4

given: 1008, 812, 1117, 1323, 1308, 1415, 831, 1021, 1287, 851, 930, 730, 699,
872, 913, 944, 954, 987, 1695, 995, 1003, 994

In [3]:
l = [1008, 812, 1117, 1323, 1308, 1415, 831, 1021, 1287, 851, 930, 730, 699,872, 913, 944, 954, 987, 1695, 995, 1003, 994]

In [6]:
len(l)

22

In [4]:
a = 0
for i in range(len(l)):
    a = a + l[i] 
print(a)
    
mean= a/len(l)
mean

22689

1031.3181818181818

In [7]:
a = 0
for i in range(len(l)):
    a = a + (l[i]-mean)**2
    
b= a/(len(l)-1) 
std_dev = b**0.5
std_dev

240.37458592463878

H0: mu = 1135
H1: mu !=1135
its a two tailed test.
alpha = 0.05,

In [9]:
tscore = (mean-1135)/(std_dev/(len(l)**0.5))
tscore

-2.023137479931484

tc=-2.08, as tscore does not lie in rejection region, we faied to reject the null hypothesis. conclusion: claim of mu=1135 is false.

# Q5

H0: mu= 48432
H1: mu!= 48432
assumption: significance level=0.05

In [11]:
z = (48574-48432)/(2000/(400)**0.5)
z

1.42

zc = 1.96, as our z value does not lie in rejection region, we failed to reject the null hypothesis.

# Q6

H0: mu = 32.28
H1: mu!= 32.28
alpha = 0.05, xbar = 31.67, s = 1.29, n=19

In [12]:
tscore =(31.67-32.28)/(1.29/(19)**0.5)
tscore

-2.06118477175179

tc = -2.101 for df = 18
as our t score does not lie in critical region, we failed to reject the null hypothesis. and the claim is correct.

# Q7